a { text-decoration: none; }

/* Button */
.btn {
    background: linear-gradient(to right, #FF8A00, #FFC000);
    display: block;
    padding: 20px 27px;
    width: 160px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
}

.btn--revers {
    background: #fff;
    color: #FFC000;
}

/* Clear-fix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */
header {
    width: 1500px;
    padding: 29px 81px;
    background: #fff;
    margin: 0 auto;
}

header h1 {
    float: left;
}

header h1 {
    text-indent: -9999px;
}

header h1 a {
    display: flex;
    align-items: center;
}

header h1 a::after {
    content: "";
    display: block;
    width: 160px;
    height: 38px;
    background: url("../assets/Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li [class^="gradient"] {
    margin-right: 56px;
    position: relative;
}

header nav ul li [class^="gradient"]:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 8px;
    background: linear-gradient(to right,#FF8A00, #FFC000);
    border-radius: 15px;
}

header nav ul li:nth-child(6) {
    text-indent: -9999px;
}

header nav ul .cart-icon {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header nav ul .cart-icon::after {
    content: "";
    display: block;
    width: 33px;
    height: 28px;
    background: url("../assets/Cart.png");
    background-repeat: no-repeat;
    background-size: contain;
}

header nav ul .btn:first-child {
    margin-right: 10px;
}

/* Title */
.section-title .inner {
    width: 100%;
    padding: 0 300px;
    background: linear-gradient(to right, #FF8A00, #FFC000);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.section-title .inner::after {
    content: "";
    display: block;
    width: 426px;
    height: 382px;
    position: absolute;
    right: 40%;
    top: -15px;
    background: url("../assets/Isolated\ Image\ Icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title .inner .summary {
    width: 50%;
    color: #fff;
    margin-top: 130px;
}

.section-title .inner .summary__title {
    line-height: 1.5;
    margin-bottom: 26px;
}

.section-title .inner .summary__description {
    line-height: 2;
    width: 30em;
    margin-bottom: 19px;
}

.section-title .inner a.btn {
    margin-bottom: 52px;
}

.section-title .btn-group {
    display: flex;
    margin-bottom: 103px;
}

.section-title .inner .btn-group .prev-btn {
    display: block;
    outline: none;
    border: none;
    text-indent: -9999px;
    width: 31px;
    height: 31px;
    background: url("../assets/prev.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.section-title .inner .btn-group .next-btn {
    display: block;
    outline: none;
    border: none;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url("../assets/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

