a { text-decoration: none; }

/* Button */
.btn {
    background: linear-gradient(to right, #FF8A00, #FFC000);
    display: block;
    padding: 20px 27px;
    width: 160px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
}

.btn--revers {
    background: #fff;
    color: #FFC000;
}

/* Clear-fix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */
header {
    width: 1500px;
    padding: 29px 81px;
    background: #fff;
    margin: 0 auto;
}

header h1 {
    float: left;
}

header h1 {
    text-indent: -9999px;
}

header h1 a {
    display: flex;
    align-items: center;
}

header h1 a::after {
    content: "";
    display: block;
    width: 160px;
    height: 38px;
    background: url("../assets/Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li [class^="gradient"] {
    margin-right: 56px;
    position: relative;
}

header nav ul li [class^="gradient"]:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 8px;
    background: linear-gradient(to right,#FF8A00, #FFC000);
    border-radius: 15px;
}

header nav ul li:nth-child(6) {
    text-indent: -9999px;
}

header nav ul .cart-icon {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

header nav ul .cart-icon::after {
    content: "";
    display: block;
    width: 33px;
    height: 28px;
    background: url("../assets/Cart.png");
    background-repeat: no-repeat;
    background-size: contain;
}

header nav ul .btn:first-child {
    margin-right: 10px;
}

/* Title */
.section-title .inner {
    width: 80vw;
    padding: 0 183px;
    background: linear-gradient(to right, #FF8A00, #FFC000);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.section-title .inner::after {
    content: "";
    display: block;
    width: 426px;
    height: 382px;
    position: absolute;
    right: 10%;
    top: -15px;
    background: url("../assets/Isolated\ Image\ Icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title .inner .summary {
    width: 50%;
    color: #fff;
    margin-top: 130px;
}

.section-title .inner .summary__title {
    line-height: 1.5;
    margin-bottom: 26px;
}

.section-title .inner .summary__description {
    line-height: 2;
    width: 30em;
    margin-bottom: 19px;
}

.section-title .inner a.btn {
    margin-bottom: 52px;
}

.section-title .btn-group {
    display: flex;
    margin-bottom: 103px;
}

.section-title .inner .btn-group .prev-btn {
    display: block;
    outline: none;
    border: none;
    text-indent: -9999px;
    width: 31px;
    height: 31px;
    background: url("../assets/prev.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.section-title .inner .btn-group .next-btn {
    display: block;
    outline: none;
    border: none;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url("../assets/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Main */
.section-main .inner {
    background: #FFF7DF;
    padding: 150px 226px 134px;
    position: relative;
    overflow: hidden;
}

.section-main .inner::before {
    content: "";
    display: block;
    width: 1200px;
    height: 836px;
    background: url(../assets/Image\ Placeholder.png);
    background-size: cover;
    position: absolute;
    bottom: -150px;
    left: -300px;
}

.section-main .inner .whatido {
    width: 936px;
    margin: 0 auto 222px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.section-main .inner .whatido .summary {
    text-align: center;
}

.section-main .inner .whatido img {
    margin-bottom: 30px;
}

.section-main .inner .whatido .summary__title {
    margin-bottom: 20px;
}

.section-main .inner .skills {
    text-align: left;
    width: 500px;
    float: right;
    position: relative;
}

.section-main .inner .skills .summary__title {
    margin-bottom: 15px;
    line-height: 2;
}

.section-main .inner .skills .summary__description {
    margin-bottom: 15px;
    line-height: 1.25;
    letter-spacing: 2px;
}

/* Contents */
.section-contents .inner {
    padding: 76px 130px 74px;
    background: linear-gradient(to right,#FF8A00, #FFC000);
    display: flex;
    justify-content: center;
    position: relative;
}

.section-contents .inner::before {
    content: "";
    display: block;
    width: 567px;
    height: 777px;
    background: url("../assets/Group\ 255.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -10px;
}

.section-contents .inner .summary {
    width: 400px;
    color: #fff;
    margin-right: 150px;
}

.section-contents .inner .summary__title {
    line-height: 2;
    margin-bottom: 40px;
}

.section-contents .inner .summary__descriptoin {
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 34px;
}

.section-contents .inner .video-group {
    width: 800px;
    height: 676px;
    position: relative;
}

.section-contents .inner .video-group [class^="video"] {
    position: absolute;
}

.section-contents .inner .video-group .video1 {
    width: 280px;
    height: 220px;
    background: #000;
    border-radius: 10px;
    top: 0;
    right: 20px;
}

.section-contents .inner .video-group .video2 {
    width: 158px;
    height: 219px;
    background: #000;
    border-radius: 10px;
    top: 50%;
    left: 0;
}

.section-contents .inner .video-group .video3 {
    width: 282px;
    height: 263px;
    background: #000;
    border-radius: 10px;
    top: 20%;
    left: 180px;
}

.section-contents .inner .video-group .video4 {
    width: 100px;
    height: 140px;
    background: #000;
    border-radius: 10px;
    top: 35%;
    right: 210px;
}

.section-contents .inner .video-group .video5 {
    width: 203px;
    height: 280px;
    background: #000;
    border-radius: 10px;
    top: 45%;
    right: 0;
}

.section-contents .inner .video-group .video6 {
    width: 100px;
    height: 140px;
    background: #000;
    border-radius: 10px;
    bottom: 10%;
    left: 180px;
}

.section-contents .inner .video-group .video7 {
    width: 282px;
    height: 263px;
    background: #000;
    border-radius: 10px;
    bottom: 0;
    left: 38%;
}

